* {
	margin: 0;
	padding: 0;
}
body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}
.link-a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

h1, h2 {
  margin: 0px 0px 0px 10px;
  padding: 10px;
  text-transform: uppercase;
  color: #34495e;
}
header h1 {
  text-align: center;
  font-size: 3.0em;
}
p {
  text-align: justify;
  font-size: 16px;
}
.header {
    background: url(../img/header-img.jpg);
    margin-bottom: 10px;
    height: 247px;
}

.menu-bar {
  position: absolute;
  top: 190px;
  margin: 0px 20px 0px 20px;
}

ul.site-navigation {
  height: 40px;
  background-color: #34495e;
  list-style-type: none;
}
ul.site-navigation li {
    line-height: 40px;
    height: 40px;
    float:left;
    width:auto;
    border-right: 1px solid white;
}
ul.site-navigation li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  transition: all .5s;
}
ul.site-navigation li a:hover {
  background-color: #d3d2d3;
}
ul.site-navigation li:last-child {
  border-right: none;
}
.content {
  background: #d3d2d3;
}
.landscape h2:first-child {
  font-style: italic;
  color: blue;
}
img.zoom {
  -moz-user-select: none; -user-select: none;
}
img.zoom:hover {
  display: block;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 99%;
  max-height: 99%;
  border: solid rgba(210,210,210,.4);
  border-width: 100vh 100vw;
  cursor: zoom-out;
}
:not(:active) > img.zoom:not(:hover), img.zoom:active {
  pointer-events: none;
}
.landscape-img,
.flower-img,
.bird-img {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}
.float-p {
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
}
.footer {
    margin-top: 10px;
    min-height: 50px;
    background: #34495e;
}
.footer p {
    float: left;
    width: 100%;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 15px;
}
.footer a {
    color: #02afff;
    text-decoration: none;
    transition: all .5s;
}

.footer a:hover {
    color: #fff;
}
hr {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
